version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: task_db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: tasks
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
